In [1]:
import pandas as pd


df=pd.read_csv("/config/workspace/artifact/12032022__004055/data_ingestion/dataset/train.csv")
df

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,30742,0.0,248.0,212.0,74.0,282.0,0.0,0.0,10534.0,...,179220.0,93330.0,193928.0,153270.0,362766.0,352720.0,4686.0,0.0,0.0,0.0
1,neg,27558,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,269272.0,144804.0,114622.0,187082.0,8810.0,2788.0,2500.0,0.0,0.0,0.0
2,neg,11046,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,63622.0,41632.0,128268.0,122414.0,80596.0,34512.0,25966.0,304.0,0.0,0.0
3,neg,33084,NaN,210.0,152.0,0.0,0.0,0.0,0.0,0.0,...,400292.0,224518.0,425580.0,266282.0,109464.0,49312.0,66818.0,3626.0,0.0,0.0
4,neg,41064,NaN,88.0,88.0,0.0,0.0,0.0,0.0,0.0,...,408638.0,198752.0,373074.0,283034.0,220084.0,142962.0,199368.0,16138.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28945,neg,36782,NaN,238.0,222.0,0.0,0.0,0.0,0.0,0.0,...,357928.0,166396.0,309568.0,235278.0,178134.0,120306.0,230820.0,22260.0,0.0,0.0
28946,neg,27414,2.0,192.0,NaN,0.0,0.0,0.0,0.0,0.0,...,129002.0,47602.0,88476.0,74452.0,107314.0,687880.0,3780.0,0.0,0.0,0.0
28947,neg,12576,NaN,1426.0,1500.0,0.0,0.0,0.0,0.0,0.0,...,157102.0,90022.0,122940.0,15226.0,62.0,0.0,0.0,0.0,0.0,0.0
28948,neg,40584,NaN,288.0,212.0,0.0,0.0,0.0,0.0,0.0,...,374756.0,202094.0,494622.0,455878.0,219298.0,85392.0,25692.0,0.0,0.0,0.0
28949,neg,24,NaN,30.0,28.0,0.0,0.0,0.0,0.0,0.0,...,188.0,18.0,24.0,26.0,76.0,2.0,0.0,0.0,0.0,0.0

In [2]:
df.isnull().sum()/df.shape[0]

class     0.000000
aa_000    0.000000
ab_000    0.772228
ac_000    0.059413
ad_000    0.253541
            ...
ee_007    0.010535
ee_008    0.010535
ee_009    0.010535
ef_000    0.048428
eg_000    0.048394
Length: 171, dtype: float64